body, html {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

.travel {
    min-height: 59px;
    padding: 20px 0 70px;
    background: gray url(images/bg.jpg) center/cover no-repeat;
}

@media screen and (max-width: 1250px) {
    .travel { padding: 10px 0 50px; }
}

.container {
    max-width: 1800px;
    margin: auto;
}

@media screen and (max-width: 1850px) {
    .container { max-width: 1500px; }
}

@media screen and (max-width: 1550px) {
    .container { max-width: 1300px; }
}



.travel-titel {
    text-transform: uppercase;
    color: white;
    padding: 20px 0;
}

@media screen and (max-width: 1350px) {
    .travel-titel { 
    padding-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .travel-titel { 
    text-align: center;
    padding-left: 0;
    }
}

@media screen and (max-width: 300px) {
    .travel-titel { 
    font-size: 15px;
    }
}

.travel-list {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1250px) {
    .travel-list { justify-content: space-around; }
}

@media screen and (max-width: 1000px) {
    .travel-list { flex-direction: column;
    align-items: center;
    }
}

.travel-item {
    text-align: center;
    color: white;
}

@media screen and (max-width: 1000px) {
    .travel-item { padding-bottom: 20px; }
}

.travel-img-size{
    width: 240px;
    height: 360px;
}

@media screen and (max-width: 1250px) {
    .travel-img-size { 
        width: 200px;
        height: 300px;
    }
}

.travel-img1 {
    background: gray url(images/work-1.jpg) center/cover no-repeat;
}

.travel-img2 {
    background: gray url(images/work-2.jpg) center/cover no-repeat;
}

.travel-img3 {
    background: gray url(images/work-3.jpg) center/cover no-repeat;
}

.travel-img4 {
    background: gray url(images/work-4.jpg) center/cover no-repeat;
}

.travel-img5 {
    background: gray url(images/work-5.jpg) center/cover no-repeat;
}

.travel-picture {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.travel-text {
    position: relative;
    bottom: -258.5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
}

@media screen and (max-width: 1250px) {
    .travel-text { bottom: -198.5px; }
}

.travel-name {
    font-size: 25px;
    margin: 0;
}

.travel-price {
    margin-bottom: 0;
}

